@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.register-container {
    margin-top: 1vh;
  }
  
  .register-container span {
    color: #d3d3d3;
    font-size: 2vh;
  }
  
  .register-container button {
    background: none;
    border: none;
    color: #d47a0c;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
  }
  
  .register-container button:hover {
    text-decoration: none;
  }